
$breakpoints: (phone: 640px, tablet: 800px, desktop: 1025px);



$fontSizeWindowMedium:2vw;
$fontSizeWindowLarge:4vw;
$paddingWindowLarge:4vw;
$paddingWindowMedium:2vw;
$lineHeight1: 1;
$lineHeight105: 1.05;

$paddingWindowDesktop: 20px;


.close{
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  &:hover {
    &::before, &::after {
      background: red;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
  }
  &::before {
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
  }
  &::after {
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
  }
  &.big {
    -webkit-transform:scale(3);
    transform:scale(3);
  }
  &.hairline {
    &::before, &::after {
      height: 1px;
    }
  }
  &.thick {
    &::before, &::after {
      height: 4px;
      margin-top: -2px;
    }
  }
  &.black {
    &::before, &::after {
      height: 8px;
      margin-top: -4px;
    }
  }
  &.heavy {
    &::before, &::after {
      height: 12px;
      margin-top: -6px;
    }
  }
  &.pointy {
    &::Before, &::after {
      width: 200%;
      left: -50%;
    }
  }
  &.rounded {
    &::before, &::after {
      border-radius: 5px;
    }
  }
  &.blades {
    &::before, &::after {
      border-radius: 5px 0;
    }
  }
  &.warp {
    &::before, &::after {
      border-radius: 120% 0;
    }
  }
  &.fat {
    &::before, &::after {
      border-radius: 100%;
    }
  }
}
